<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name=”robots” content=”noindex” />
    <link rel="stylesheet" href="./css/main.css">
    <script type="text/javascript" src="./js/main.js"></script>
    <title>animejsLT</title>
</head>
<body>
    <div class="cover-anim"></div>
    <div class="cover-bg"></div>
    <main class="animejs-lt">
        <div class="animejs-lt__inner">
            <section class="slide slide1">
                <h1><div class="text-wrapper">anime.jsについて</div></h1>
                <p class="first-anime">
                </p>
            </section>
            <section class="slide slide2">
                <div class="slide-inner inner--flex inner--max-w">
                    <div>
                        <h2>anime.jsとは</h2>
                        <p>軽量さと記述のとっつきやすさがウリのJavaScriptアニメーションライブラリ。</p>
                        <a href="http://animejs.com/" target="_blank">http://animejs.com/</a>
                        <h2>対応ブラウザ</h2>
                        <ul>
                            <li>Chrome / 24+</li>
                            <li>Safari / 6+</li>
                            <li>IE / Edge / 10+</li>
                            <li>Firefox / 32+</li>
                            <li>Opera / 15+</li>
                        </ul>
                    </div>
                    <div><img src="/images/logo.png" alt=""></div>
                </div>
            </section>
            <section class="slide slide3">
            <div class="slide-inner">
                <h2>どんな時によく使う？</h2>
                <p class="bold">複雑なアニメーションではないがCSSで実装すると面倒な時</p>
                <ul>
                    <li>連続した要素を別のタイミングでアニメーションさせたい、、</li>
                    <li>さりげなく活き活きとしたアニメーションを実行したい、、</li>
                    <li>アニメーションの後にコールバック関数を実行したい、、</li>
                </ul>
            </div>
            </section>
            <section class="slide slide4">
             <div class="slide-inner">
                <h2>（例）リストをタイミングずらして表示したい。</h2>
                <p class="fourth-anime">
                    <div class="codepen">
                        <iframe height='350' scrolling='no' title='gvoXMB' src='//codepen.io/owaki/embed/gvoXMB/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/owaki/pen/gvoXMB/'>gvoXMB</a> by owaki (<a href='https://codepen.io/owaki'>@owaki</a>) on <a href='https://codepen.io'>CodePen</a>.
                    </iframe>
                    </div>
                </p>
             </div>
            </section>
            <section class="slide slide5">
            <div class="slide-inner">
                <p>CSSだとこんな感じ？要素が増えるたびに記述が増えてしまう</p>
                <div><img src="/images/s5-css.png" alt=""></div>
                <p>anime.jsでこんなにスッキリ！</p>
                <div><img src="/images/s5-js.png" alt=""></div>
            </div>
            </section>
            <section class="slide slide6">
            <div class="slide-inner inner--max-w">
                <p>targetsは変数にもできるので同じようなアニメーションの使い回しも楽チン</p>
                <iframe height='265' scrolling='no' title='animeLT5' src='//codepen.io/owaki/embed/KQZOEZ/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/owaki/pen/KQZOEZ/'>animeLT5</a> by owaki (<a href='https://codepen.io/owaki'>@owaki</a>) on <a href='https://codepen.io'>CodePen</a>.</iframe>
            </div>
            </section>
            <section class="slide slide7">
            <div class="slide-inner inner--max-w">
            <h2>その他の使い方例1</h2>
                <p>順々にアニメーションを実行（キーフレーム）</p>
                <iframe height='350' scrolling='no' title='animeLT2' src='//codepen.io/owaki/embed/VQyydw/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/owaki/pen/VQyydw/'>animeLT2</a> by owaki (<a href='https://codepen.io/owaki'>@owaki</a>) on <a href='https://codepen.io'>CodePen</a>.</iframe>
            </div>
            </section>
            <section class="slide slide8">
                <div class="slide-inner inner--max-w">
                    <h2>その他の使い方例2</h2>
                    <p>複数の要素にアニメーションを実行（タイムライン）</p>
                    <iframe height='350' scrolling='no' title='animeLT3' src='//codepen.io/owaki/embed/papQWj/?height=265&theme-id=0&default-tab=js,result&embed-version=2' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='https://codepen.io/owaki/pen/papQWj/'>animeLT3</a> by owaki (<a href='https://codepen.io/owaki'>@owaki</a>) on <a href='https://codepen.io'>CodePen</a>.</iframe>
                </div>
            </section>
            <section class="slide slide9">
                <div class="slide-inner">
                    <h2>まとめ</h2>
                    <ul>
                      <li>anime.jsはタイミングの調節、イージング、再生のコントロールなどシンプルなアニメーションに特化したライブラリ</li>
                      <li>CSSだと面倒だけど高機能なライブラリを入れるほどでも、、、な時に重宝</li>
                    </ul>
                </div>
            </section>
            <section class="slide slide10">
              <div class="slide-inner">
                <h2>以上です、ありがとうございました。</h2>
                <p>anime.jsは他にも色々なことができます。<br>こんなことはできるの？？と気になる方は公式ドキュメントをみてみてくださいませ！</p>
                <a href="http://animejs.com/" target="_blank">anime.js</a>
                <a href="http://tr.you84815.space/animejs/" target="_blank">anime.jsドキュメント翻訳 | anime.js - にほんご。</a>
              </div>
            </section>
            <section class="slide slide11">
              <div class="slide-inner">
                <h2>おまけ</h2>
                <p>今回はnetlifyを使って公開してみました。</p>
                <img src="/images/netlify.jpg" alt="">
                <a href="https://www.netlify.com/" target="_blank">https://www.netlify.com/</a>
                <ul>
                  <li>とってもスピーディに公開できた。</li>
                  <li>指定したブランチに変更があれば自動でビルドタスクが実行され更新してくれる</li>
                  <li>今回のようにちょっと公開して確認したり、見せたいというときはとっても便利かもしれない。</li>
                  <li>もうちょっと調べたら仕事でも使えるかな、、、？</li>
                </ul>
                <p>公開までの流れは割愛させていただきますので以下ご参考までに。</p>
                <a href="http://dojineko.hateblo.jp/entry/2017/09/17/205259" target="_blank">http://dojineko.hateblo.jp/entry/2017/09/17/205259</a>
              </div>
            </section>
        </div>
        <div class="slide-count">
            <ul>
                <li class="current">●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
                <li>●</li>
            </ul>
        </div>
    </main>
</body>
</html>
